In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [76]:
df = pd.read_csv("kc_house_data.csv")

In [11]:
df.shape

(21613, 21)

In [12]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [14]:
df.tail()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [15]:
dtype_dict = {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int}

In [16]:
df_house_data=pd.read_csv("kc_house_data.csv", dtype=dtype_dict)

In [17]:
df_house_train=pd.read_csv("kc_house_train_data.csv", dtype=dtype_dict)

In [18]:
df_house_test=pd.read_csv("kc_house_test_data.csv", dtype=dtype_dict)

In [62]:
s=df_house_train['price']
s1=df_house_train[['price']]
r=df_house_train['sqft_living']
s1.shape, type(s)

((17384, 1), pandas.core.series.Series)

In [144]:
def simple_regression(input_feature, output):
    sum_x = input_feature.sum()
    sum_y = output.sum()
    n=len(output)
    w1= ((input_feature*output).sum() - (sum_x*sum_y)/n)/((input_feature*input_feature).sum() - (sum_x*sum_x)/n)
    w0= sum_y/n - w1*(sum_x/n)
    return (w0,w1)    

sqft_intercept, sqft_slope = simple_regression(df_house_train['sqft_living'], df_house_train['price'])
bedroom_intercept, bedroom_slope = simple_regression(df_house_train['bedrooms'], df_house_train['price'])
print(sqft_intercept, sqft_slope)
print(bedroom_intercept, bedroom_slope)

-47116.07907289418 281.9588396303426
109473.1776229596 127588.95293398784

In [101]:
from sklearn import linear_model

def simple_regression_scikit(input_feature, output):
    clf = linear_model.LinearRegression()
    clf.fit(input_feature,output)
    return clf
    
    
model = simple_regression_scikit(df_house_train[['sqft_living']], df_house_train[['price']])

(model.intercept_[0],model.coef_[0][0])

(-47116.079072893248, 281.95883963034214)

In [28]:
df_house_train['sqft_above'].mean()

1787.844512195122

In [102]:
def get_regression_predictions(input_feature, intercept, slope):
    #print((input_feature*slope).shape, type(input_feature))
    predicted_output = intercept + input_feature*slope
    return(predicted_output)

get_regression_predictions(df_house_train['sqft_lot'], sqft_intercept, sqft_slope).head()

0    1.545951e+06
1    1.994830e+06
2    2.772472e+06
3    1.362678e+06
4    2.231111e+06
Name: sqft_lot, dtype: float64

In [109]:
#scikit learn predictions
predictions = model.predict(df_house_train[['sqft_lot']])
predictions[0:5]

array([[ 1545951.36483854],
       [ 1994829.83753004],
       [ 2772472.31723053],
       [ 1362678.11907882],
       [ 2231111.34514027]])

In [149]:
def get_residual_sum_of_squares(input_feature, output, intercept,slope):
    predicted_output = get_regression_predictions(input_feature, intercept, slope)
    #print(predicted_output.head())
    #print(output.head())
    #print(pd.concat([output,predicted_output]))
    RSS = ((output - predicted_output)**2).sum()
    return(RSS)

RSS_train_sqft = get_residual_sum_of_squares(df_house_train['sqft_living'], df_house_train['price'], sqft_intercept, sqft_slope)
RSS_test_sqft = get_residual_sum_of_squares(df_house_test['sqft_living'], df_house_test['price'], sqft_intercept, sqft_slope)
print(RSS_train_sqft, RSS_test_sqft)
RSS_train_bed = get_residual_sum_of_squares(df_house_train['bedrooms'], df_house_train['price'], bedroom_intercept, bedroom_slope)
RSS_test_bed = get_residual_sum_of_squares(df_house_test['bedrooms'], df_house_test['price'], bedroom_intercept, bedroom_slope)
print(RSS_train_bed, RSS_test_bed)

1201918354177286.2 275402933617813.1
2143244498162069.0 493364585960301.4

In [143]:
from sklearn.metrics import mean_squared_error
MSE=mean_squared_error(df_house_train[['price']],predictions)
#MSE = RSS/n
RSS=MSE*len(predictions) 
print(RSS)

2.59852566303e+18